@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/MicroWebExampleLayout.cshtml";
}



<section class="main-content-w3layouts-agileits">

    <h3 class="tittle">Contact Us</h3>
    <div class="ad-inf-sec bg-light">
        <div class="container">
            <div class="address row">

                <div class="col-lg-4 address-grid">
                    <div class="row address-info">
                        <div class="col-md-4 address-left text-center">
                            <i class="far fa-map"></i>
                        </div>
                        <div class="col-md-8 address-right text-left">
                            <h6>Address</h6>
                            <p>
                                California, USA

                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 address-grid">
                    <div class="row address-info">
                        <div class="col-md-4 address-left text-center">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="col-md-8 address-right text-left">
                            <h6>Email</h6>
                            <p>
                                Email :
                                <a href="mailto:example@email.com"> mail@example.com</a>

                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 address-grid">
                    <div class="row address-info">
                        <div class="col-md-4 address-left text-center">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                        <div class="col-md-8 address-right text-left">
                            <h6>Phone</h6>
                            <p>+1 234 567 8901</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contact_grid_right">
            <form method="post" action="/Default/AddContact/" id="ContactForm">
                <div class="row contact_left_grid">
                    <div class="col-md-6 con-left">
                        <div class="form-group">
                            <label for="validationCustom01 my-2">Adınız</label>
                            <input type="text" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="validationCustom01 my-2">Soyadınız</label>
                            <input type="text" id="surname" name="surname" >
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Email</label>
                            <input type="email" name="email" id="email" required class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="validationCustom03 my-2">Konu</label>
                            <input type="text" id="subject" name="subject" >
                        </div>
                    </div>
                    <div class="col-md-6 con-right">
                        <div class="form-group">
                            <label for="textarea">Mesajınız</label>
                            <textarea id="message" name="message" ></textarea>
                        </div>
                        <input class="form-control" type="submit" value="Submit">

                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
@* 
<section class="donate-section">
    <div class="auto-container">
        <div class="tabs-box">
            <div class="row d-flex justify-content-center clearfix">

                <!--Form Column-->
                <div class="form-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="donate-form">
                            <form method="post" action="/Default/AddContact/" id="ContactForm">
                                <h3>Your Donation</h3>
                                <div class="personal-info">
                                    <h3>Personal Information</h3>

                                    <div class="row clearfix">
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <div class="field-label">First Name</div>
                                            <input type="text" id="name" name="name" placeholder="Adınız" required>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <div class="field-label">Last Name</div>
                                            <input type="text" id="surname" name="surname" placeholder="Soyadınız">
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <div class="field-label">E-Mail</div>
                                            <input type="email" name="email" id="email" required class="form-control">
                                            <small id="emailvalid" class="form-text text-muted invalid-feedback">
                                                Lütfen geçerli bir eposta adresi giriniz
                                            </small>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <div class="field-label">Subject</div>
                                            <input type="text" id="subject" name="subject" placeholder="Konu">
                                        </div>
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <div class="field-label"></div>
                                            <textarea id="message" name="message" placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" id="submitbtn" class="theme-btn btn-style-one">
                                        <span class="btn-title">Gönder</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> *@

@section scripts {

    <script>
        $(document).ready(function () {
            $("#ContactForm").validate({
                rules: {
                    name: {
                        required: true,
                        minlength: 2
                    },
                    surname: {
                        required: true,
                        minlength: 2
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    subject: {
                        required: true,
                        minlength: 2
                    },
                    message: {
                        required: true,
                        minlength: 2,
                        maxlength: 250
                    }
                },
                messages: {
                    name: {
                        required: 'Lütfen adınızı giriniz',
                        minlength: 'Adınız en az 2 karakter olmalı'
                    },
                    surname: {
                        required: 'Lütfen soyadınızı giriniz',
                        minlength: 'Soyadınız en az 2 karakter olmalı'
                    },
                    email: 'Lütfen eposta adresinizi giriniz',
                    subject: 'Lütfen iletişime geçmek istediğiniz konuyu giriniz',
                    message: {
                        required: 'Lütfen mesajınızı giriniz',
                        minlength: 'Mesajınız en az 2 karakter olmalı',
                        maxlength: 'Mesajınız en fazla 250 karakter olmalı'
                    }
                },
                submitHandler: function (form) {
                    $.ajax({
                        type: "POST",
                        url: "/Default/AddContact",
                        data: $(form).serialize(), 
                        success: function (response) {
                            console.log(response)
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Mesajınız Alındı',
                                text: 'İletişim mesajınız alınmıştır, en kısa sürede iletişime geçilecektir.',
                                showConfirmButton: false,
                                timer: 6500
                            }).then(()=>{
                                window.location.href = "/Default/Contact"
                            });
                            
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }
            });
        });
    </script>

}



